<header id="header" role="banner">
    <nav data-aui-responsive="true" class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo bots-logo"><a class="header-anchor" href="/"><span class="aui-header-logo-device">Build Quick Bots</span></a></h1>
            </div>
        </div>
    </nav>
</header>