<div class="aui-page-panel-nav adg-sidebar">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <div class="aui-nav-heading"><strong>Quick Bots</strong></div>
            <ul class="aui-nav">
                <li {{#if featuredSelected}}class="aui-nav-selected"{{/if}}><a href="/featured">Featured</a></li>
                <li {{#if buildSelected}}class="aui-nav-selected"{{/if}}><a href="/build">Build</a></li>
                <li><a href="https://hipchat.com" target="_blank">Hipchat.com</a></li>
            </ul>
        </div>
    </nav>
</div>