{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h1>Add a bot</h1>
                {{> message}}
                <div class="aui-group" class="docs-container">
                    <div class="aui-item">
                        <p>I should write some documentation here.</p>
                    </div>
                </div>
                {{> build-form}}
            </section>
        </div>
    </div>
</section>
