{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h1>Add a bot</h1>
                {{> message}}
                <div class="aui-group" class="docs-container">
                    <div class="aui-item">
                        <p>I should write some documentation here.</p>
                    </div>
                </div>
                {{> build-form}}
                <!-- here begins documentation -->
                <h2>What is Quick Bots?</h2>
                <p>Quick Bots is a service for quickly developing and sharing slash command bots for <a href="https://www.hipchat.com/">Atlassian HipChat</a>.</p>
                <h2>Why Quick Bots</h2>
                <p><strong>Faster development:</strong> Quick Bots was developed in order to eliminate the need to build a full <a href="https://developer.atlassian.com/static/connect/docs/latest/index.html">Atlassian Connect</a> plugin for simple integrations. Quick Bots allows developers to quickly create slash command integrations but removes the need to bootstrap full Connect plugins. It also allows users of these integrations a single simple install process. Installing Quick Bots gives access to many different integrations all of which can be easily configured.</p>
                <p><strong>Sharable integrations:</strong> Developing HipChat bots without Quick Bots is fairly straight forward. The <a href="https://blog.hipchat.com/2015/02/11/build-your-own-integration-with-hipchat/">Build Your Own</a> integration in HipChat. However, because these integrations are configured per-room, sharing them is painful. Quick Bots is designed with this consideration in mind. The request payload that Quick Bots delivers the exactly the same as the built in BYO integrations.</p>
                <h2>Show me the goods:</h2>
                <p>We will POST your URL some JSON data that looks a little like the snippet below. For more
                    details, please refer to the <a href="https://www.hipchat.com/docs/apiv2/webhooks#room_message">HipChat webhook documentation</a>.</p>
<pre class="code-example" lang="json"><code>{
    event: 'room_message',
    item: {
        message: {
            date: '2015-01-20T22:45:06.662545+00:00',
            from: {
                id: 1661743,
                mention_name: 'Blinky',
                name: 'Blinky the Three Eyed Fish'
            },
            id: '00a3eb7f-fac5-496a-8d64-a9050c712ca1',
            mentions: [],
            message: '/weather',
            type: 'message'
        },
        room: {
            id: 1147567,
            name: 'The Weather Channel'
        }
    }
}
</code></pre>
            </section>
        </div>
    </div>
</section>
