{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h1>Add a bot</h1>
                {{> message}}
                <div class="aui-group" class="docs-container">
                    <div class="aui-item">
                        <p>I should write some documentation here.</p>
                    </div>
                </div>
                {{> build-form}}
            </section>
            <section class="aui-page-panel-content">
                <h2>What is Quick Bots?</h2>
                <p>Quick Bots is a service for quickly developing and sharing slash command bots for <a href="https://www.hipchat.com/">Atlassian HipChat</a>.</p>
                <h2>Why Quick Bots</h2>
                <p>Quick Bots was developed in order to eliminate the need to build a full <a href="https://developer.atlassian.com/static/connect/docs/latest/index.html">Atlassian Connect</a> plugin for simple integrations. Quick Bots allows developers to quickly create slash command integrations but removes the need to bootstrap full Connect plugins. It also allows users of these integrations a single simple install process. Installing Quick Bots gives access to many different integrations all of which can be easily configured.</p>
                <p>Developing HipChat bots without Quick Bots is fairly straight forward. The <a href="https://blog.hipchat.com/2015/02/11/build-your-own-integration-with-hipchat/">Build Your Own</a> integration in HipChat</p>
            </section>
        </div>
    </div>
</section>
