{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h1>Content!</h1>
            </section>
        </div>
    </div>
</section>
