{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h1>Edit configuration</h1>
                {{#if message}}<div class="aui-message aui-message-{{message.type}}">
                    <p class="title">
                        <strong>{{message.title}}</strong>
                    </p>
                    <p>{{message.message}}</p>
                </div>{{/if}}
                {{> build-form}}
            </section>
        </div>
    </div>
</section>
