{{!< public-layout}}

{{> header}}
<section id="content" role="main" class="ac-content">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            {{> sidebar}}
            <section class="aui-page-panel-content">
                <h2>Edit bot configuration</h2>
                {{> message}}
                {{> build-form}}
            </section>
        </div>
    </div>
</section>
