{{!< public-layout}}


<header id="header" role="banner">
    <nav data-aui-responsive="true" class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo bots-logo"><a href="/2.1/"><span class="aui-header-logo-device">Quick Bots</span></a></h1>
            </div>
        </div>
    </nav>
</header>
<section id="content" role="main" class="ac-content">
    <header class="aui-page-header aui-page-header-hero home-page-hero">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1 class="hero">Hipchat Quick Bots</h1>
                <p>Faster chat bot development for HipChat</p>
                <div class="call-to-action">
                    <a href="https://www.hipchat.com/rooms?install_capabilities_url=https%3A%2F%2Fquick-bots.herokuapp.com%2Fatlassian-connect.json" class="aui-button aui-button-primary">Install Quick Bots now!</a>
                </div>
            </div>
        </div>
    </header>
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div class="aui-group">
                    <div class="aui-item">
                        <a href="/2.1/product/"><img src="{{furl '/images/featured.png'}}" class="adg-section-image" alt="Featured" height="256" width="256"></a>
                        <h2><a href="/2.1/product/" class="headline-links">Featured bots</a></h2>
                        <p>Quick Bots wouldn't be useful if not for the awesome bots that people build with it. See a few examples of what installing enables.</p>
                    </div>
                    <div class="aui-item">
                        <a href="/2.1/brand/"><img src="{{furl '/images/build.png'}}" class="adg-section-image" alt="Build" height="256" width="256"></a>
                        <h2><a href="/2.1/brand/" class="headline-links">Build your own</a></h2>
                        <p>Quick Bots is all about making creation of new HipChat bots quick and easy. Come here to start building.</p>
                    </div>
                    <div class="aui-item">
                        <a href="https://hipchat.com" target="_blank"><img src="{{furl '/images/hipchat.png'}}" class="adg-section-image" alt="HipChat" height="256" width="256"></a>
                        <h2><a href="https://hipchat.com" target="_blank" class="external-link headline-links">HipChat<span class="icon-external-link"></span></a></h2>
                        <p>New to HipChat? Find out more about the product behind the bots.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
